<h1>Editing User</h1>
<br/>
<% render 'form', user: @user %>

<%= link_to 'Edit User', '#edit_user_modal', 'data-bs-toggle' => 'modal', class:"btn btn-danger"%>
<br/>
<div class="modal fade" id="edit_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title" id="myModalLabel">Edit User</h4>
      </div>
      <div class="modal-body">

        <%# Render the new person form (passing modal => true to enable remote => true) %>

        <%= render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br/>
<%= link_to 'Show', @user, class:"btn btn-secondary" %> 

<%= link_to 'Back', users_path, class:"btn btn-primary" %>
